*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#navbar{
    background-color: rgb(212, 19, 19);
    padding: 12px 5px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


#navbar li{
 list-style: none;

}

#navbar li a{
 text-decoration: none;
 padding: 10px 30px;
 color: aliceblue;
 font-weight: bold;
}



#navbar li a:hover{
   color: black;
   }
   
#introssection{
    color: aliceblue;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    height:500px;
    background-color: red;
    background: center / cover no-repeat url("/static/bg.jpg");

}


#introssection div.small{

    font-size: 30px;
    
    
}
#missionsection{
    height: 300px;
    background-color: rgb(246, 245, 242);
}

#missionsection h3{
    text-align: center;
    padding-top: 20px;
  

}
.card{
    border: 2px solid black;
    border-radius: 8px;
    width: 30%;
    margin: 20px 15px;
    height: 200px;
    display: inline-block;

}
.card h3{
    text-align: center;
    margin: 12px;
    
}

#sponsorsection{
    height: 300px;
    background-color: rgb(234, 202, 125);


}

#sponsorsection h3{
    text-align: center;
    padding-top: 20px;
  

}